**/node_modules/
**/.git
**.md
**/LICENSE
**/.vscode
**/npm-debug.log
**/coverage
**/.env
**/.editorconfig
**/.aws
**/dist
package-lock.json
*.log
yarn-error.log
Makefile
node_modules/
coverage/